:root, body {
    font-family: 'Bebas Neue', cursive;
}

.titleHeader {
display: flex;
justify-content: center;
background-image: linear-gradient(to right, rgb(8, 8, 252) , rgb(135, 115, 248));
}
h1 {
    color: whitesmoke;
}
h1, h2 {
    font-weight: bolder;
}
#focus {
    padding :1%;
    margin : 2%;
    border : black solid 1px;
}
#forecast {
    padding:1%;
    margin-left: 2%;
    margin-right: 2%;
}